  img{
    border: none;
    border-radius: 10px;
    width:200px;
    height:200px;
  }
  button{
    border: none;
    background-color: white;
    font-family: Book Antiqua;
  }
a:hover{
  cursor: hand;
}


